﻿@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrapper">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader" style="display: none;">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Login box.scss -->
    <!-- ============================================================== -->
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="min-height:90vh;">
        <div class="auth-box p-4 bg-white rounded" style="box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);border-radius:3%!important;margin:4.5% 0;">
            <div id="loginform">
                <div class="logo">
                    <h3 class="box-title mb-3">Sign In</h3>
                </div>
                <div class="row d-flex justify-content-center align-items-center ml-0 mr-0 col-xl-auto">
                </div>
                <!-- Form -->
                <div class="row">
                    <div class="col-12">
                        <form id="account" method="post" class="form-horizontal mt-3 form-material" novalidate>
                            <div class="form-group mb-3">
                                @(Html.DevExtreme().TextBoxFor(m => m.UserName)
                                .Placeholder("Email Address").ElementAttr("class", "form-control"))
                            </div>
                            <div class="form-group mb-3">
                                @(Html.DevExtreme().TextBoxFor(m => m.Password)
                                .Mode(TextBoxMode.Password)
                                .Placeholder("Password").ElementAttr(new { @class = "form-control" })
                                )
                            </div>
                            <div class="form-group mb-3 d-flex">
                                <div class="checkbox checkbox-info float-left pt-0 ml-2 mb-3">
                                    <input id="checkbox-signup" type="checkbox" asp-for="RememberMe">
                                    <label for="checkbox-signup"> Remember me </label>
                                </div>
                                @*<a id="to-recover" class="text-dark ml-auto mb-3" asp-page="./ForgotPassword"><i class="fa fa-lock mr-1"></i> Forgot pwd?</a>*@
                            </div>
                            <div asp-validation-summary="All" class="mt-4 col-11 text-danger"></div>
                            <div class="form-group text-center">
                                <button id="btnLogin" class="btn btn-info btn-lg btn-block waves-effect waves-light" type="submit"><i id="loading" style="display:none;" class="fa fa-spinner fa-spin"></i> Log In</button>
                            </div>
                            @*<div class="form-group mb-0">
                                    <div class="text-center">
                                        <p>Don't have an account? <a asp-page="./Register" class="text-info font-weight-normal ml-1">Sign Up</a></p>
                                    </div>
                                </div>*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#btnLogin').click(function () {
        $('#loading').show();
    });
</script>