﻿@using System.Security.Claims;

@if (User.Identity.IsAuthenticated)
{
    @if (ViewBag.Breadcrumbs != null)
    {
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-2 align-self-center">
                <h3 class="page-title">@ViewBag.Title</h3>
                @*<div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            @foreach (var breadcrumb in ViewBag.Breadcrumbs as List<Breadcrumb>)
                            {
                                if (breadcrumb.Active)
                                {
                                    <li class="breadcrumb-item active"><a asp-action="@breadcrumb.Action" asp-controller="@breadcrumb.Controller">@breadcrumb.Text</a></li>
                                }
                                else
                                {
                                    <li class="breadcrumb-item" aria-current="page">@breadcrumb.Text</li>
                                }
                            }
                        </ol>
                    </nav>
                </div>*@
            </div>
        </div>
    </div>
        }
    }
