﻿@using System.Security.Claims;
@inject Microsoft.Extensions.Options.IOptions<GPF.LawFirmPortal.Application.Common.Utility.Appsettings> metaOptions

    @if (User.Identity.IsAuthenticated)
{
    var userEmail = ((ClaimsIdentity)User.Identity).FindFirst("Email");
    var displayName = ((ClaimsIdentity)User.Identity).FindFirst("DisplayName");
    var LawFirmName = ((ClaimsIdentity)User.Identity).FindFirst("LawFirmName");
    var LawFirmSName = ((ClaimsIdentity)User.Identity).FindFirst("LawFirmSName");
    var options = metaOptions.Value;
    var userGroup = ((ClaimsIdentity)User.Identity).FindFirst("UserGroup");
    <header class="topbar" data-navbarbg="skin6">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin6">
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="navbar-brand" asp-action="Dashboard" asp-controller="Home">
                    <!-- Logo icon -->
                    <img src="/images/gpf-pear1.png" alt="Home" style="width: 37px;height: 30px;">
                        <span class="topbar-title">Law Firm Portal</span>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span class="logo-text">
                        @*<h2 class="dark-logo" style="display:block;font-size: smaller;white-space: pre-wrap;">@LawFirmName.Value</h2>*@
                        <!-- dark Logo text -->
                        <img src="~/layout/assets/images/logo-text.png" alt="homepage" class="dark-logo" style="display:none;"/>

                    </span>
                </a>

                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                   href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="fas fa-bars"></i></a></li>
                    @if (userGroup.Value == options.LdapSettings.AdminRole)
                    { 
                        <li class="nav-item dropdown">
                            <a id="notification" class="nav-link dropdown-toggle waves-effect waves-dark" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-message"></i>
                                <div class="notify" style="display:none;"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <div class="dropdown-menu mailbox animated bounceInDown">
                                <ul class="list-style-none">
                                    <li>
                                        <div class="font-weight-medium border-bottom rounded-top py-3 px-4">
                                            Notifications
                                        </div>
                                    </li>
                                    <li>
                                        <div class="message-center notifications position-relative ps-container ps-theme-default" style="height:250px;" id="messagenotification">
                                            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link border-top text-center text-dark pt-3" onclick="MarkAllRead();" href="javascript:void(0);"> <strong>Mark all read</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    }
                </ul>
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right side toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav">
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <li class="nav-item hidden-sm-down">
                        <form class="app-search mt-3 mr-2">
                            @*<input type="text" class="form-control rounded-pill border-0" placeholder="Search for...">
                                <a class="srh-btn"><i class="ti-search"></i></a>*@
                        </form>
                    </li>
                    <li class="nav-item dropdown" id="toastMessage">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/layout/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="50"></a>
                        <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                            <div class="d-flex no-block align-items-center mb-2 border-bottom">
                                <div class=""><img src="~/layout/assets/images/users/1.jpg" alt="user" class="rounded" width="80"></div>
                                <div class="ml-2">
                                    <h4 class="mb-0">@displayName.Value</h4>
                                    <p class=" mb-0">@userEmail.Value</p>
                                </div>
                            </div>
                            @if (userGroup.Value == options.LdapSettings.AdminRole)
                            {
                            <a class="dropdown-item" asp-action="Index" asp-controller="UserActivity">User Activity</a>
                            <div class="dropdown-divider"></div>
                            }
                            @using (Html.BeginForm("Logout", "Account", new { area = "" }, FormMethod.Post, true, new { id = "logoutForm", role = "form" }))
                            {
                            @*<button id="logout" type="submit" class="dropdown-item nav-link-drpdwn text-left"> <i class="fa fa-power-off mr-1 ml-1"></i>Logout</button>*@
                            <a class="dropdown-item" href="javascript:void(0);" onclick="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                            }
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col-sm-12">
                <h3>@DateTime.Now.ToString("MMMM yyyy")</h3>
            </div>
            <div class="col-sm-12">
                @if (userGroup.Value == options.LdapSettings.AdminRole)
                {
                <h1>Administrator</h1>
                }
                else
                {
                    <h1>@LawFirmName.Value</h1>
                    }
            </div>
            <div class="w-100"></div>
        </div>
            
    </header>
}
else
{
    <header class="topbar" data-navbarbg="skin6">
        <a class="navbar-brand" asp-action="Dashboard" asp-controller="Home">
            <img src="/images/gpf-pear1.png" alt="Home" style="width: 37px;height: 30px;">
            <span class="topbar-title">Law Firm Portal</span>
        </a>
    </header>
}
