﻿@using GPF.LawFirmPortal.Application.Common.Utility
@inject Microsoft.Extensions.Options.IOptions<GPF.LawFirmPortal.Application.Common.Utility.Appsettings> metaOptions
@{
    var toastrErrorMsg = String.Empty;
    var toastrSuccessMsg = String.Empty;


    if (TempData[AppConstants.GPFSettings.ERRORMSG] != null)
    {
        toastrErrorMsg = TempData[AppConstants.GPFSettings.ERRORMSG].ToString();
    }
    if (TempData[AppConstants.GPFSettings.SUCCESSMSG] != null)
    {
        toastrSuccessMsg = TempData[AppConstants.GPFSettings.SUCCESSMSG].ToString();
    }
    var options = metaOptions.Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>@ViewData["Title"] - LawFirm Portal</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/layout/assets/images/favicon.png" />

    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />
    <!-- Custom CSS
    <link href="~/layout/assets/plugins/chartist/dist/chartist.min.css" rel="stylesheet"> -->
    <!-- Custom CSS -->
    <link href="~/layout/css/style.min.css" rel="stylesheet">
    <link href="~/css/lfp.css" rel="stylesheet">
    <script src="~/layout/js/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    @*<script src="~/layout/js/popper.min.js"></script>*@
    <script src="~/layout/js/bootstrap.min.js"></script>
    <!-- apps -->
    <script src="~/layout/js/app.min.js" asp-append-version="true"></script>
    <script src="~/layout/js/app.init.js" asp-append-version="true"></script>
    <!-- Theme settings -->
    @*<script src="~/layout/js/app-style-switcher.js"></script>*@
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/layout/js/perfect-scrollbar.jquery.min.js"></script>
    @*<script src="~/layout/js/jquery.sparkline.min.js"></script>*@
    <!--Menu sidebar -->
    @*<script src="~/layout/js/sidebarmenu.js"></script>*@
    <!--Custom JavaScript -->
    @*<script src="~/layout/js/feather.min.js"></script>*@
    <script src="~/layout/js/custom.js"></script>
    <!--This page JavaScript -->
    <script src="~/js/devextreme/jszip.js"></script>

    <script src="~/js/devextreme/dx.all.js"></script>

    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <script src="~/lib/application-js/common.js" asp-append-version="true"></script>
    <script src="~/layout/js/waves.js" asp-append-version="true"></script>
    <script src="~/layout/js/jquery.blockUI.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/ConnectSignalR.js" asp-append-version="true"></script>

    <script type="text/javascript">
        var isSubscribed = null;
    </script>
    <style type="text/css">
        .jqstooltip {
            position: absolute;
            left: 0px;
            top: 0px;
            visibility: hidden;
            background: rgb(0, 0, 0) transparent;
            background-color: rgba(0,0,0,0.6);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            color: white;
            font: 10px arial, san serif;
            text-align: left;
            white-space: nowrap;
            padding: 5px;
            border: 1px solid white;
            box-sizing: content-box;
            z-index: 10000;
        }

        .jqsfield {
            color: white;
            font: 10px arial, san serif;
            text-align: left;
        }
    </style>
</head>
<body class="pb-0">
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- =================================data-sidebartype="full"============================= -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="mini-sidebar" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <partial name="_HeaderPartial" />
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <partial name="_MenuPartial" />
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="@(User.Identity.IsAuthenticated == true ? "page-wrapper" : "none")">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <partial name="_BreadcrumbPartial" />
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->

            @RenderBody()
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-lg-4" style="text-align:left;">© @DateTime.Now.Year, All rights reserved by Golden Pear Funding</div>
                        <div class="col-lg-4">@options.AppVersion</div>
                    </div>
                </div>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    @{
        if (User.Identity.IsAuthenticated == true)
        {
            <partial name="_PwaInit.cshtml" />
        }
    }


    @RenderSection("Scripts", required: false)
</body>
</html>
<style>
    .UnSubscribenotification {
        display: none;
    }

    .intercom-lightweight-app-launcher {
        position: fixed;
        z-index: 2147483003;
        bottom: 20px;
        right: 20px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #094547;
        cursor: pointer;
        box-shadow: 0 1px 6px 0 rgb(0 0 0 / 6%), 0 2px 32px 0 rgb(0 0 0 / 16%);
        animation: intercom-lightweight-app-launcher 250ms ease;
    }

    .intercom-lightweight-app-launcher-icon-open {
        opacity: 1;
        transform: rotate( 0deg ) scale(1);
    }

        .intercom-lightweight-app-launcher-icon-open svg {
            width: 28px;
            height: 32px;
        }

            .intercom-lightweight-app-launcher-icon-open svg path {
                fill: rgb(255, 255, 255);
            }

    .intercom-lightweight-app-launcher-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 60px;
        transition: transform 100ms linear, opacity 80ms linear;
    }
</style>