﻿@using System.Security.Claims;
@inject Microsoft.Extensions.Options.IOptions<GPF.LawFirmPortal.Application.Common.Utility.Appsettings> metaOptions
@{
    var options = metaOptions.Value;
    var userGroup = ((ClaimsIdentity)User.Identity).FindFirst("UserGroup");
}
@if (options.ShowDesktopNotification == true && (userGroup.Value == options.LdapSettings.AdminRole))
{
    <div class="intercom-lightweight-app-launcher intercom-launcher" id="btnSubscribe" role="button" tabindex="0" aria-label="Subscribe Notification">
        <div class="intercom-lightweight-app-launcher-icon intercom-lightweight-app-launcher-icon-open">
            <svg id="Subscribenotification" class="Subscribenotification" xmlns="http://www.w3.org/2000/svg" height="512pt" viewBox="-21 0 512 512" width="512pt">
                <path d="m453.332031 229.332031c-8.832031 0-16-7.167969-16-16 0-61.269531-23.847656-118.847656-67.15625-162.175781-6.25-6.25-6.25-16.382812 0-22.632812s16.382813-6.25 22.636719 0c49.34375 49.363281 76.519531 115.007812 76.519531 184.808593 0 8.832031-7.167969 16-16 16zm0 0" />
                <path d="m16 229.332031c-8.832031 0-16-7.167969-16-16 0-69.800781 27.179688-135.445312 76.542969-184.789062 6.25-6.25 16.386719-6.25 22.636719 0s6.25 16.386719 0 22.636719c-43.328126 43.304687-67.179688 100.882812-67.179688 162.152343 0 8.832031-7.167969 16-16 16zm0 0" />
                <path d="m234.667969 512c-44.117188 0-80-35.882812-80-80 0-8.832031 7.167969-16 16-16s16 7.167969 16 16c0 26.476562 21.523437 48 48 48 26.472656 0 48-21.523438 48-48 0-8.832031 7.167969-16 16-16s16 7.167969 16 16c0 44.117188-35.882813 80-80 80zm0 0" />
                <path d="m410.667969 448h-352c-20.589844 0-37.335938-16.746094-37.335938-37.332031 0-10.925781 4.757813-21.269531 13.058594-28.375 32.445313-27.414063 50.941406-67.261719 50.941406-109.480469v-59.480469c0-82.34375 66.988281-149.332031 149.335938-149.332031 82.34375 0 149.332031 66.988281 149.332031 149.332031v59.480469c0 42.21875 18.496094 82.066406 50.730469 109.332031 8.511719 7.253907 13.269531 17.597657 13.269531 28.523438 0 20.585937-16.746094 37.332031-37.332031 37.332031zm-176-352c-64.707031 0-117.335938 52.628906-117.335938 117.332031v59.480469c0 51.644531-22.632812 100.414062-62.078125 133.757812-.746094.640626-1.921875 1.964844-1.921875 4.097657 0 2.898437 2.433594 5.332031 5.335938 5.332031h352c2.898437 0 5.332031-2.433594 5.332031-5.332031 0-2.132813-1.171875-3.457031-1.878906-4.054688-39.488282-33.386719-62.121094-82.15625-62.121094-133.800781v-59.480469c0-64.703125-52.628906-117.332031-117.332031-117.332031zm0 0" />
                <path d="m234.667969 96c-8.832031 0-16-7.167969-16-16v-64c0-8.832031 7.167969-16 16-16s16 7.167969 16 16v64c0 8.832031-7.167969 16-16 16zm0 0" />
            </svg>
            <svg id="UnSubscribenotification" class="UnSubscribenotification" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
<g>
            <g>
            <path d="M426.281,286.484c-9.677-17.88-15.281-32.2-15.281-52.482l0.001-30.001c0-41.161-15.943-80.037-44.894-109.466    C341.297,69.313,309.44,53.575,275,49.231v-29.23c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20v29.271    c-17.783,2.28-34.895,7.619-51.062,15.95c-9.819,5.06-13.677,17.121-8.617,26.94c3.551,6.889,10.546,10.843,17.796,10.843    c3.084,0,6.215-0.716,9.145-2.226c15.935-8.211,33.107-12.506,51.045-12.765h3.537h0.241    c62.825,0.912,113.916,52.917,113.916,115.987l-0.001,30c0,31.725,10.378,53.554,20.104,71.524    c3.62,6.688,10.501,10.483,17.606,10.483c3.215,0,6.477-0.777,9.503-2.415C427.927,308.335,431.539,296.197,426.281,286.484z" />































































































































	</g>
</g>
<g>
            <g>
            <path d="M506.143,477.859l-472-472c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.474,0,28.284l106.609,106.609    C103.531,160.749,99,182.022,99,204.001v30c0,26.647-9.673,43.566-21.918,64.986c-12.065,21.104-25.739,45.022-32.655,81.924    c-3.301,17.616,1.369,35.627,12.813,49.415c11.433,13.775,28.258,21.675,46.158,21.675h91.99c0,33.084,26.916,60,60,60    s60-26.916,60-60h91.603c5.067,0,10.044-0.621,14.873-1.853l55.995,55.995c3.904,3.906,9.023,5.858,14.141,5.858    c5.118,0,10.237-1.953,14.143-5.858C513.954,498.333,513.954,485.67,506.143,477.859z M255.388,472.001c-11.028,0-20-8.972-20-20    h40C275.388,463.029,266.417,472.001,255.388,472.001z M103.398,412.001c-8.165,0-13.14-4.525-15.379-7.222    c-2.244-2.705-5.785-8.445-4.275-16.5c5.673-30.272,17.056-50.183,28.064-69.439C125.176,295.456,139,271.275,139,234.001v-30    c0-11.004,1.529-21.766,4.558-32.157l240.158,240.157H103.398z" />































































	</g>
</g>
</svg>
        </div>
    </div>

}
<script type="text/javascript">
    var baseSiteURL = '@options.APIUrl';
    var PyrusURL = '@options.PyrusUrl';
</script>
<script src="~/lib/common-js/util.js" asp-append-version="true"></script>
<script src="~/lib/common-js/script.js" asp-append-version="true"></script>