﻿@using GPF.LawFirmPortal.Application.LawFirmDashboard.ViewModel
<style>
    .myclass {
        height: 0px;
        width: 0px;
        visibility: hidden;
    }

    #lblInfo {
        border: none;
    }

        #lblInfo input {
            font-size: smaller;
            color: red;
        }
</style>

@(Html.DevExtreme().Form<RequestPayoffDataViewModel>()
.ID("RequestPayoff")
.ColCountByScreen(c => c.Xs(1).Lg(1).Md(1).Sm(1))
.MinColWidth(250)
.ScrollingEnabled(true)
.ColCount(Mode.Auto)
.LabelLocation(FormLabelLocation.Top)
.AlignItemLabels(true)
.ScreenByWidth("dashboard.RequestPayoffScreenByWidth")
.OnContentReady("dashboard.RequestPayoffOnContentReady")
.Items(items => {
    items.AddGroup()
            .ColCount(2)
            .ColSpan(2)
            .Items(groupItems =>
            {
                groupItems.AddSimpleFor(m => m.CombinedName).Visible(false);
                groupItems.AddSimpleFor(m => m.CaseId).Visible(false);
                groupItems.AddSimpleFor(m => m.PortfolioId).Visible(false);
                groupItems.AddSimpleFor(m => m.LawFirmdName).Visible(false);
                groupItems.AddSimpleFor(m => m.PayoffRequestReasonID).ColSpan(2).VisibleIndex(1).Editor(e => e.SelectBox().ID("ddlPayoffRequestReasonID").DataSource(d => d.Mvc().Controller("Home").LoadAction("PayoffRequestReason").Key("Value"))
                .DisplayExpr("Text").ValueExpr("Value")).IsRequired(true).Label(l => l.Text("Payoff Request Reason"));
                //groupItems.AddSimpleFor(m => m.CaseStatusReasonID).VisibleIndex(2).Editor(e => e.SelectBox().Disabled(true).OnItemClick("dashboard.OnCaseStatusClickPayOff").OnContentReady("dashboard.CaseStatusContentReadyPayOff").ID("ddlCaseStatusReasonPayOff").DataSource(d => d.Mvc().Controller("Home").LoadAction("GetReasons").Key("Id"))
                //    .DisplayExpr("LfcaseDetailsName").ValueExpr("Id")).IsRequired(true).Label(l => l.Text("Status Detail"));
                //groupItems.AddSimpleFor(m => m.TrialDateAssigned).VisibleIndex(3).Editor(e => e.DateBox()).Visible(false);
                //groupItems.AddSimpleFor(m => m.DepositionsStatus).VisibleIndex(4).Editor(e => e.SelectBox().DataSource(Html.GetEnumSelectList<DepositionsStatus>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text })).ValueExpr("Value").DisplayExpr("Text")).Visible(false);
                //groupItems.AddEmpty().Name("EmptySpace").Visible(false).VisibleIndex(5);
                groupItems.AddSimpleFor(m => m.Note).ColSpan(2).VisibleIndex(2).Editor(editor => editor.TextArea().Height(90)).Label(l => l.Text("Message"));
                groupItems.AddSimpleFor(m => m.Status).ColSpan(2).VisibleIndex(3).Editor(editor => editor.TextBox().ID("lblInfo").ReadOnly(true).Disabled(true)).Label(l => l.Text("Info"));

            });
}))
