﻿@model GPF.LawFirmPortal.Application.LawFirmDashboard.ViewModel.LawFirmDashboardModel
@using GPF.LawFirmPortal.Application.CaseUpdate.ViewModel
@using GPF.LawFirmPortal.Web.Common
 
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var IsUSerAdmin = ViewBag.IsUserAdmin;
}
<script src="~/lib/application-js/dashboard.js" asp-append-version="true"></script>
<script type="text/javascript">
        $(document).ready(function () {
            dashboard.init({
                LoadDashboard: '@Url.Action("LoadDashBoardData", "Home")',
                LoadClientInfo: '@Url.Action("LoadClientInfo", "Home")',
                UpdateCaseData: '@Url.Action("UpdateCaseData", "Home")',
                SendRequestPayOff: '@Url.Action("SendRequestPayOff", "Home")',
                RequestPayOff: '@Url.Action("GetRequestPayOff", "Home")',
                FundedAmount: '@Url.Action("GetFundedAmount", "Home")',
                IsUserAdmin: '@ViewBag.IsUserAdmin',
                LawFirmId:'@Model.FirmValues'
            });
            dashboard.SelectedLawFirmState();
            dashboard.FilterDashboard();
        });
</script>
<style type="text/css">
    @@media (min-width: 992px) {
        .col-lg-3 {
            flex: 0 0 auto;
            max-width: 25%;
        }
    }

    .lfpHeading {
        text-align: center;
        width: 100%;
    }

    .headingName {
        font-size: smaller;
        color: red;
        text-align: center;
    }

    @@media (min-width: 1281px) {
        .newcasePopup {
            width: 70% !important;
            height: 70% !important;
        }
    }

    /*
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */

    @@media (min-width: 1025px) and (max-width: 1280px) {
        /* CSS */
        .newcasePopup {
            width: 70% !important;
            height: 70% !important;
        }
    }

    /*
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */

    @@media (min-width: 768px) and (max-width: 1024px) {
        /* CSS */
        .newcasePopup {
            width: 60% !important;
            height: 60% !important;
        }
    }

    /*
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */

    @@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        /* CSS */
        .newcasePopup {
            width: 60% !important;
            height: 60% !important;
        }
    }

    /*
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
    */

    @@media (min-width: 481px) and (max-width: 767px) {
        /* CSS */
        .newcasePopup {
            width: 80% !important;
            height: 80% !important;
        }

        .dx-layout-manager .dx-field-item:not(.dx-last-col) {
            padding-right: 0px;
        }

        .dx-layout-manager .dx-field-item:not(.dx-first-col) {
            padding-left: 0px;
        }
    }

    /*
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */

    @@media (min-width: 320px) and (max-width: 480px) {
        /* CSS */
        .newcasePopup {
            width: 88% !important;
            height: 80% !important;
        }

        .dx-layout-manager .dx-field-item:not(.dx-last-col) {
            padding-right: 0px;
        }

        .dx-layout-manager .dx-field-item:not(.dx-first-col) {
            padding-left: 0px;
        }
    }
</style>
<div class="container-fluid">
    <div class="row">
        <!-- Column -->
        @if (ViewBag.IsUserAdmin == true)
        {
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="form-body">
                            <h5 class="card-title">Filter's</h5>
                            <div class="row">
                                @*<div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="control-label">Start Date</label>
                                            @(Html.DevExtreme().DateBox().Type(DateBoxType.Date).Value(DateTime.Now.AddYears(-5)).Name("startDate").ElementAttr("class", "form-control"))
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="control-label">End Date</label>
                                            @(Html.DevExtreme().DateBox().Type(DateBoxType.Date).Value(DateTime.Now).Name("endDate").ElementAttr("class", "form-control"))
                                        </div>
                                    </div>*@

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Law Firm</label>
                                        @(Html.DevExtreme().TagBox().ID("TgbxLawFirms")
                                    .DataSource(d => d.Mvc().Controller("Home").LoadAction("GetLawFirms"))
                                    .DataSourceOptions(d => d.PageSize(5).Paginate(true))
                                    .DisplayExpr("Text")
                                    .ValueExpr("Value")
                                    .SearchEnabled(true)
                                    .HideSelectedItems(true)
                                    .MaxDisplayedTags(5)
                                    .ShowSelectionControls(true)
                                    .OnValueChanged("dashboard.RestrictItemsCount")
                                        )
                                    </div>
                                </div>

                                <!--/span-->
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="control-label">&nbsp;</label>
                                        <button style="width:auto;" class="btn btn-info btn-block text-uppercase waves-effect waves-light" onclick="dashboard.FilterDashboard()" type="button">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
        <!-- Column -->
    </div>
    <div class="row">
        <!-- Column -->
        <div class="col-md-6 col-lg-4 col-xlg-4">
            <div class="card">
                <div class="box p-2 rounded bg-primary text-center lfp-counts">
                    <h1 id="settledCaseCount"></h1>
                    <h6 class="subtitle"># of Settled Cases</h6>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xlg-4">
            <a href="javascript:void(0);" onclick="dashboard.showCasePopup()" style="text-decoration:underline;">
                <div class="card">
                    <div class="box p-2 rounded bg-primary text-center lfp-counts">
                        <h1 id="caseDueUpdate"></h1>
                        <h6 class="subtitle">Cases Due For An Update</h6>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 col-xlg-4">
            <div class="card">
                <div class="box p-2 rounded bg-secondary text-center lfp-counts open-case">
                    <h1 id="openCase"></h1>
                    <h6 class="subtitle">Open Cases</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div>
                <div class="card-body">
                    @if (ViewBag.IsUserAdmin == false)
                    {
                        <div class="lfpHeading">
                            <span class="headingName">
                                Amounts Funded and Amounts Owed are unverified and are presented for illustrative purposes only.  In no circumstance do these figures represent final payoff amounts.  Online figures are not verified and may be inaccurate for various reasons including clerical error and data system failures. Final payoff amounts are presented by Golden Pear in writing solely upon request by law firm
                            </span>
                        </div>
                    }
                    <div class="d-md-flex no-block">
                        <h2 class="card-title mb-0">Client List</h2>
                    </div>
                    <div id="CaseUpdate" style="min-height:80%;">
                        @(Html.DevExtreme().DataGrid<CaseDueUpdatesViewModel>()
                      .ID("CaseDueForUpdates")
                      .ElementAttr("class", "table table-hover")
                      .RowAlternationEnabled(true)
                      .ShowColumnLines(true)
                      .ActiveStateEnabled(true)
                      .StateStoring(s => s
                        .Enabled(true)
                        .Type(StateStoringType.SessionStorage)
                        .StorageKey("AttorneyPortalGrid"))
                      .ShowRowLines(true)
                      .WordWrapEnabled(true)
                      .AllowColumnResizing(true)
                      .ColumnAutoWidth(true)
                      .FilterRow(f => f.Visible(true))
                      .HeaderFilter(headerFilter => headerFilter.Visible(true))
                      .ColumnHidingEnabled(true)
                      .Editing(e => e.Mode(GridEditMode.Popup)
                      .AllowUpdating(true)
                      .UseIcons(true)
                      .Popup(p => p
                         .Title("Case Info")
                         .ID("caseInfoPopupEdit")
                         .ShowTitle(true)
                         .ShowCloseButton(false)
                         .OnShowing("dashboard.setPopupTitle")
                         .ElementAttr(new Dictionary<string, object> { { "class", "newcasePopup" } })
                         .FullScreen(false)
                         .DragEnabled(false)
                         .CloseOnOutsideClick(false)
                         .Height(500))
                      .Form(f =>
                            f.ColCountByScreen(c => c.Xs(1).Lg(1).Md(1).Sm(1))
                            .ID("CaseUpdateFormEdit")
                            .MinColWidth(250)
                            .ScrollingEnabled(true)
                            .ColCount(Mode.Auto)
                            .LabelLocation(FormLabelLocation.Top)
                            .AlignItemLabels(true).ScreenByWidth("dashboard.CaseInfoEditScreenByWidth")
                        .Items(items =>
                        {
                            items.AddGroup()
                             .ColCount(2)
                             .ColSpan(2)
                             .Items(groupItems =>
                             {
                                 groupItems.AddSimpleFor(m => m.CombinedName).VisibleIndex(1).Editor(e => e.TextBox().Disabled(true));
                                 groupItems.AddSimpleFor(m => m.AmountOwed).VisibleIndex(2).Editor(e => e.NumberBox().Format("$ #,##0.##").Disabled(true));
                                 //groupItems.AddSimpleFor(m => m.ApprovalAmount).Editor(e => e.NumberBox().Format("$ #,##0.##").Disabled(true));
                                 groupItems.AddSimpleFor(m => m.DOB).VisibleIndex(3).Editor(e => e.DateBox().Disabled(true));
                                 groupItems.AddSimpleFor(m => m.DOL).VisibleIndex(4).Editor(e => e.DateBox().Disabled(true)).Label(l=>l.Text("Date of Loss"));
                                 //groupItems.AddSimpleFor(m => m.NoOfDaysLeft).Editor(e => e.TextBox().Disabled(true));
                                 groupItems.AddSimpleFor(m => m.CasePhaseID).VisibleIndex(5).Editor(e => e.SelectBox().ID("ddlCasePhase").OnValueChanged("dashboard.OnCasePhaseChange")
                                      .DataSource(d => d.Mvc().Controller("Home").LoadAction("GetCasePhase").Key("LfcasePhaseId"))
                                          .DisplayExpr("LfcasePhaseName").ValueExpr("LfcasePhaseId")).IsRequired(true).Label(l => l.Text("Case Phase"));
                                 groupItems.AddSimpleFor(m => m.CaseStatusReasonID).VisibleIndex(6).Editor(e => e.SelectBox().Disabled(true).OnItemClick("dashboard.OnCaseStatusClick").OnContentReady("dashboard.CaseStatusContentReady").ID("ddlCaseStatusReason").DataSource(d => d.Mvc().Controller("Home").LoadAction("GetReasons").Key("Id"))
                                        .DisplayExpr("LfcaseDetailsName").ValueExpr("Id")).IsRequired(true).Label(l => l.Text("Status Detail"));
                                 groupItems.AddSimpleFor(m => m.TrialDateAssigned).VisibleIndex(7).Editor(e => e.DateBox().ID("TrialDateDB")).Visible(false);
                                 groupItems.AddSimpleFor(m => m.DepositionsStatus).VisibleIndex(8).Editor(e => e.SelectBox().ID("sbDepositionsStatus").DataSource(Html.GetEnumSelectList<DepositionsStatus>().Select(i => new { Value = int.Parse(i.Value), Text = i.Text })).ValueExpr("Value").DisplayExpr("Text")).Visible(false);
                                 groupItems.AddEmpty().Name("EmptySpace").Visible(false).VisibleIndex(9);
                                 groupItems.AddSimpleFor(m => m.Note).ColSpan(2).VisibleIndex(10).Editor(editor => editor.TextArea().ID("txtNote").Height(70)).Label(l => l.Text("Note"));
                             });
                        })))
                      //.OnEditorPrepared("dashboard.onEditorPreparing")
                      //.OnEditingStart("dashboard.onEditingStart")
                      .OnRowPrepared("dashboard.OnRowPrepared")
                      .NoDataText("No record found")
                      .GroupPanel(g => g.Visible(true))
                      .Grouping(g => g.AutoExpandAll(false))
                      .RenderAsync(true)
                      .OnToolbarPreparing("dashboard.OnToolbarPreparing")
                      .LoadPanel(l => l.Enabled(true).ShowIndicator(true).ShowPane(true).Shading(true).Text("Loading...").ShadingColor("#80808080"))                      
                      .Columns(columns =>
                      {
                          columns.AddFor(m => m.PortfolioId).Caption("ID").Visible(false).ShowInColumnChooser(false);
                          columns.AddFor(m => m.CaseId).Caption("CaseId").Visible(false).ShowInColumnChooser(false);
                          columns.Add().Type(GridCommandColumnType.Buttons)
                                     .Buttons(b => {
                                         b.Add().Name(GridColumnButtonName.Edit).Text("Edit").Hint("Update status for this client");
                                         b.Add().Hint("Request Payoff").Icon("repeat").OnClick("dashboard.RequestPayoffPopup");
                                     }).ShowInColumnChooser(false);
                          columns.AddFor(m => m.NoOfDaysLeft).Caption("Days Overdue").AllowFiltering(true).Format(" #,##0.##; #,##0.##").AllowEditing(false);
                          columns.AddFor(m => m.LawFirmdName).ShowInColumnChooser(false).Caption("Lawfirm Name").Visible(IsUSerAdmin).AllowFiltering(true).AllowEditing(false);
                          columns.AddFor(m => m.CombinedName).Caption("Client Name").AllowFiltering(true).AllowEditing(false);
                          columns.AddFor(m => m.DOB).Caption("DOB").CustomizeText("dashboard.DOBNULLText").DataType(GridColumnDataType.Date).AllowFiltering(true).Format("MM/dd/yyyy").AllowEditing(false);
                          columns.AddFor(m => m.DOL).Caption("DOL").DataType(GridColumnDataType.Date).AllowFiltering(true).Format("MM/dd/yyyy").AllowEditing(false);
                          columns.AddFor(m => m.ApprovalAmount).Caption("Amount Funded").CellTemplate(new JS("dashboard.ApprovedAmount")).AllowFiltering(true).AllowEditing(false).Format(f => f.Type(Format.Currency).Precision(2));
                          columns.AddFor(m => m.AmountOwed).Caption("Amount Owed").AllowEditing(false).AllowFiltering(true).Format(f => f.Type(Format.Currency).Precision(2));
                          columns.AddFor(m => m.CasePhaseID).Caption("Case Phase").Lookup(lookup => lookup
                                 .DataSource(d => d.Mvc().Controller("Home").LoadAction("GetCasePhase").Key("LfcasePhaseId"))
                                 .DisplayExpr("LfcasePhaseName").ValueExpr("LfcasePhaseId")).AllowFiltering(true);
                          columns.AddFor(m => m.CaseStatusReasonID).Caption("Status Detail").CustomizeText("dashboard.CaseStatusReasonText").Lookup(lookup => lookup
                                 .DataSource(d => d.Mvc().Controller("Home").LoadAction("GetReasons").Key("Id"))
                                 .DisplayExpr("LfcaseDetailsName").ValueExpr("Id")).AllowFiltering(true);
                          columns.AddFor(m => m.Note).Caption("Notes").HidingPriority(1);
                          columns.AddFor(m => m.CreatedBy).Caption("Created By").HidingPriority(2).Visible(!IsUSerAdmin);
                          columns.AddFor(m => m.CreatedDate).Caption("Created Date").HidingPriority(3).Visible(!IsUSerAdmin);
                      })
                      .ColumnChooser(c => c.Enabled(true).Mode(GridColumnChooserMode.Select))
                          .Paging(paging => paging.PageSize(10))
                          .Pager(pager =>
                          {
                              pager.ShowPageSizeSelector(true);
                              pager.AllowedPageSizes(new[] { 5, 10, 20 });
                              pager.ShowInfo(true);
                              pager.ShowNavigationButtons(true);
                              pager.Visible(true);
                          })
                          .ShowBorders(true)
                          .RemoteOperations(false)
                          .SearchPanel(sp => sp.Visible(true))
                          .DataSource(d => d.Mvc().Controller("Home")
                            .LoadAction("GetCaseDueUpdate")
                            //.OnLoading("function(){$('#loadPanel').dxLoadPanel('instance').show();}")
                            //.OnLoaded("function(){$('#loadPanel').dxLoadPanel('instance').hide();}")
                          .Key("PortfolioId"))
                        )
                        @(Html.DevExtreme().LoadPanel()
                            .ID("loadPanel")
                            .ShadingColor("rgba(0,0,0,0.4)")
                            .Position(p => p.Of("#CaseDueForUpdates"))
                            .Visible(false).Message("")
                            .ShowIndicator(false)
                            .ShowPane(false)
                            .Shading(true)
                            .CloseOnOutsideClick(false)
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@(Html.DevExtreme().Popup()
            .ID("CasePopup")
            .Height(500)
            .ElementAttr(new Dictionary<string, object> { { "class", "newcasePopup" } })
            .ShowTitle(true)
            .ShowCloseButton(false)
            .Title("Case Info")
            .DragEnabled(false)
            .CloseOnOutsideClick(false)
            .ToolbarItems(items => {
                items.Add().Location(ToolbarItemLocation.After).Toolbar(Toolbar.Bottom)
                .Widget(w => w.Button().Text("Save").Type(ButtonType.Normal).StylingMode(ButtonStylingMode.Contained).OnClick("dashboard.CreateStatusEntries"));
                items.Add().Location(ToolbarItemLocation.After).Toolbar(Toolbar.Bottom)
                    .Widget(w => w.Button().Text("Cancel").Type(ButtonType.Normal).StylingMode(ButtonStylingMode.Contained).OnClick("dashboard.CancelPopup"));
            })
        .ContentTemplate(@<text>
         @(await Html.PartialAsync("_CaseInfoPopup"))
    </text>))
@(Html.DevExtreme().Popup()
        .ID("RequestPayoffPopup")
        .Height(500)
        .ElementAttr(new Dictionary<string, object> { { "class", "newcasePopup" } })
        .ShowTitle(true)
        .ShowCloseButton(false)
        .Title("Request PayOff")
        .DragEnabled(false)
        .CloseOnOutsideClick(false)
        .ToolbarItems(items =>
        {
            items.Add().Location(ToolbarItemLocation.After).Toolbar(Toolbar.Bottom)
            .Widget(w => w.Button().Text("Request Payoff").Type(ButtonType.Normal).StylingMode(ButtonStylingMode.Contained).OnClick("dashboard.SubmitPayOffRequest"));
            items.Add().Location(ToolbarItemLocation.After).Toolbar(Toolbar.Bottom)
                .Widget(w => w.Button().Text("Cancel").Type(ButtonType.Normal).StylingMode(ButtonStylingMode.Contained).OnClick("dashboard.CancelRequestPayoffPopup"));
        })
        .ContentTemplate(@<text>
         @(await Html.PartialAsync("_RequestPayoffPopup"))
    </text>))
<script type="text/html" id="content_template">
    <div id="AmountFundedGrid" style="height:90%;"></div>
</script>
