/* Law Firm Portal custom CSS */
body {
    background: #fbf8f3;
    color: #323232;
}

a {
    color: #4fbcfa;
    text-decoration: none;
}

    a:hover {
        color: #4fbcfa;
        text-decoration: underline;
    }

.main-wrapper {
    background-color: #094547;
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:visited {
    background-color: #b7903f;
    border-color: #b7903f;
}

/* Header */
a.navbar-brand {
    color:#ffffff;
}
.topbar {
    box-shadow: none;
    margin:0;
    padding:20px 30px;
    height: auto;
}
.topbar h1,
.topbar h3 {
    color:#ffffff;
}
.topbar h1 {
    font-weight: 700;
}
.topbar .top-navbar .navbar-header .navbar-brand {
    justify-content: left;
    padding:0;
}
    #main-wrapper[data-layout=horizontal] .topbar[data-navbarbg=skin1] {
        background: unset;
        background-color: #094547;
        /*margin: 1rem 2rem;*/
    }
        #main-wrapper[data-layout=horizontal][data-sidebar-position=fixed] .topbar
        #main-wrapper[data-layout=horizontal] .topbar[data-navbarbg=skin1] a,
        #main-wrapper[data-layout=horizontal] .topbar[data-navbarbg=skin1] a:hover,
        #main-wrapper[data-layout=horizontal] .topbar[data-navbarbg=skin1] a:active,
        #main-wrapper[data-layout=horizontal] .topbar[data-navbarbg=skin1] a:visited {
            /*color: #ffffff;*/
            font-weight: 500;
        }
#main-wrapper[data-layout=horizontal][data-sidebar-position=fixed] .topbar {
    position: relative;
}
#main-wrapper[data-layout=horizontal][data-sidebar-position=fixed] .page-wrapper {
    padding-top: 0;
}
#main-wrapper[data-layout=horizontal] .topbar[data-navbarbg=skin1] img {
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 1px solid #2a6546;
}
#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin6],
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6] {
    background: #094547;
    color: #FFFFFF;
}
#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin6] h3,
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6] h3,
#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin6] h1,
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6] h1 {
    color: #ffffff;
}
#main-wrapper[data-layout=horizontal][data-sidebar-position=fixed] .left-sidebar {
    display:none;
}
#main-wrapper[data-layout=horizontal] .topbar .navbar-collapse[data-navbarbg=skin1] {
    background: none;
}
/* End Header */
/* Body */
.page-wrapper {
    background-color: #fbf8f3;
}
.page-breadcrumb {
    background: #094547;
    padding: 0 30px;
}
.page-breadcrumb .page-title {
    background: #FBF8F3;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.rounded {
    border-radius: 10px !important;
}
.bg-primary {
    background-color: #ffffff !important;
}
.bg-secondary {
    background-color: #B8903F !important;
}
.lfp-counts h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #094547;
}
.subtitle {
    font-size: 1rem;
    font-weight: 500;
}
.open-case h1,
.open-case h6 {
    color: #ffffff;
}

/* End body*/
/* Footer */
#main-wrapper[data-layout=horizontal] .footer {
    background-color: #fbf8f3;
    color: #979692;
    font-size: 0.8rem;
    padding: 15px 20px 0;
    text-align: left;
}
/* End footer*/

/* Login page */
#loginform h3 {
    font-size: 1.75rem;
    font-weight: bold;
}
/* End login page*/

/* Dashboard datagrid */
.dx-datagrid {
    background-color: #ffffff;
}
.dx-datagrid-header-panel,
.dx-toolbar {
    background-color: #fbf8f3;
}
.dx-button[aria-label=Refresh] {
    background-color: #b7903f;
    color: #ffffff;
}
.dx-button[aria-label=Refresh] i {
    color: #ffffff;
}
.dx-datagrid-headers {
    border-radius: 10px 10px 0 0;
    color: #2c2b2e;
    font-weight: 600;
}
.dx-header-filter,
.dx-datagrid .dx-header-filter-empty {
    color: #2c2b2e;
}
.dx-datagrid .dx-row-alt > td,
.dx-datagrid .dx-row-alt > tr > td {
    background-color: inherit;
}
.table-hover tbody tr:hover,
.dx-datagrid .dx-row-alt > tr:hover {
    background-color: #fbf8f3;
}
.dx-popup-wrapper .dx-datagrid-header-panel,
.dx-popup-wrapper .dx-toolbar {
    background-color: #ffffff;
}
/* Spinner */
.spinner {
    z-index:99999;
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 0px;
    border-radius: 100%;
    border: 6px solid;
    border-top-color: #094547;
    border-bottom-color: #094547;
    border-left-color: rgba(0, 90, 156, 0.15);
    border-right-color: rgba(0, 90, 156, 0.15);
    -webkit-animation: spinner 0.8s ease-in-out infinite alternate;
    animation: spinner 0.8s ease-in-out infinite alternate;
}
.spinnerText {
    font-size: 0.9rem;
    font-weight: 500;
    /*float: right;
    text-align: left;
     display: contents; 
    width: 30%;
    /* display: inline; 
    position: relative;
    line-height: 30px;
    right: 30%;*/
}
@keyframes spinner {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: lightgrey;
}

::-webkit-scrollbar-thumb:vertical {
    /*height: 30px;*/
    background-color: grey;
}