﻿@using GPF.LawFirmPortal.Application.Admin.ViewModel
@{
    ViewData["Title"] = "User Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- Column -->
            <div class="card">
                <div class="card-body">
                    <div id="UserActivity">
                        @(Html.DevExtreme().DataGrid<UserActivityViewModel>()
                         .ID("UserActivities")
                         .ElementAttr("class", "table table-hover")
                         .AllowColumnResizing(true)
                         .ColumnAutoWidth(true)
                         .HeaderFilter(headerFilter => headerFilter.Visible(true))
                         .ColumnResizingMode(ColumnResizingMode.Widget)
                         .LoadPanel(l => l.Enabled(true).ShowIndicator(true).ShowPane(true).Shading(true).Text("Loading...").ShadingColor("#80808080"))
                         .Columns(columns =>
                         {
                             columns.AddFor(m => m.UserName).Caption("UserName");
                             columns.AddFor(m => m.MachineName).Caption("Device");
                             columns.AddFor(m => m.ActionName).Caption("Page Name");
                             columns.AddFor(m => m.VisitDate).Caption("Visit Date").DataType(GridColumnDataType.DateTime).Format("MM/dd/yyyy hh:mm");
                         })
                          .Paging(paging => paging.PageSize(10))
                          .Pager(pager =>
                          {
                              pager.ShowPageSizeSelector(true);
                              pager.AllowedPageSizes(new[] { 5, 10, 20 });
                              pager.ShowInfo(true);
                              pager.ShowNavigationButtons(true);
                              pager.Visible(true);
                          })
                          .ShowBorders(true)
                          .RemoteOperations(true)
                          .SearchPanel(sp => sp.Visible(true))
                          .DataSource(d => d.Mvc().Controller("UserActivity")
                                                    .LoadAction("GetUserActivity")
                          //.OnLoading("function(){$('#loadPanel').dxLoadPanel('instance').show();}")
                          //.OnLoaded("function(){$('#loadPanel').dxLoadPanel('instance').hide();}")
                          .Key("UserName"))
                        )
                        @(Html.DevExtreme().LoadPanel()
                            .ID("loadPanel")
                            .ShadingColor("rgba(0,0,0,0.4)")
                            .Position(p => p.Of("#CaseDueForUpdates"))
                            .Visible(false)
                            .ShowIndicator(true)
                            .ShowPane(true)
                            .Shading(true)
                            .CloseOnOutsideClick(false)
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
